<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee_Management_system</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <div class="row">
    <div class="col-7">
    <h1>Add New Employee details Here</h1>
    <br>
    <br>
    <form method="post">
      {% csrf_token %}
  <div class="mb-3">
    <label for="name" class="form-label"><h4>Name:</h4></label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="mb-3">
    <label for="age" class="form-label"><h4>Age:</h4></label>
    <input type="text" class="form-control" id="age" name="age">
  </div>
  <div class="mb-3">
    <label for="salary" class="form-label"><h4>Salary:</h4></label>
    <input type="text" class="form-control" id="salary" name="salary">
  </div>
  <div class="mb-3">
    <label for="city" class="form-label"><h4>City:</h4></label>
    <input type="text" class="form-control" id="city" name="city">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>
